{% load static %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Student Managment System</title>
	<!DOCTYPE html>
	<html>

	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8">
		<title>Student Managment System</title>

		<!-- Site favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Templates/vendors/images/apple-touch-icon.png'%}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Templates/vendors/images/favicon-32x32.png'%}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Templates/vendors/images/favicon-16x16.png'%}">

		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendors/styles/core.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendors/styles/icon-font.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'Templates/vendors/styles/style.css'%}">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'UA-119386393-1');
		</script>
	</head>
	<style>
		.input-group {
			position: relative;
		}

		.input-group img {
			position: absolute;
			width: 30px;
			right: 5px;
			top: 50%;
			transform: translate(0, -50%);
			cursor: pointer;
		}
	</style>

<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="login.html">
				</a>
			</div>
		</div>
	</div>
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="{% static 'Templates/vendors/images/login-page-img.png'%}" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="form-content my-3 p-3">
							<div class="container">
								<div class="row justify-content-center">
									<div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
										<div class="card-header justify-content-center">
											<h3 class="font-weight-light my-4 text-center">Create Account</h3>
										</div>
										<div class="card-body">
											<form action="{% url 'signup' %}" id="myForm" method="POST">
												{% csrf_token %}
												{% if form.errors %}
												<div class="alert alert-danger alert-dismissible" role="alert">
													<div id="form_errors">
														{% for field, errors in form.errors.items %}
														{% for error in errors %}
														{{ error }}
														<br>
														{% endfor %}
														{% endfor %}
													</div>
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												{% endif %}

												<div class="form-row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="small mb-1" for="id_username">Username</label>
															{{ form.username }}
														</div>
													</div>
												</div>

												<div class="form-row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1"
																for="id_password1">Password</label>
															<div class="input-group">
																<input type="password" name="password1"
																	class="form-control" id="id_password1" required>
																<img src="static/images.png" id="eyeicon1"
																	onclick="toggleShowPassword('id_password1', 'eyeicon1')">
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="small mb-1" for="id_password2">Confirm
																Password</label>
															<div class="input-group">
																<input type="password" name="password2"
																	class="form-control" id="id_password2" required>
																<img src="static/images.png" id="eyeicon2"
																	onclick="toggleShowPassword('id_password2', 'eyeicon2')">
															</div>
														</div>
													</div>
												</div>

												<div class="form-group mt-4 mb-0">
													<button type="submit" class="col-md-12 btn btn-dark">Sign
														Up</button>
													<br><br>
												</div>
											</form>

										</div>

										<div class="card-footer text-center">
											<div class="small">
												<a href="{% url 'login' %}"><b>Have an account? Go to Sign in</b></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function toggleShowPassword(passwordId, eyeIconId) {
			let passwordField = document.getElementById(passwordId);
			let eyeIcon = document.getElementById(eyeIconId);

			if (passwordField.type === "password") {
				passwordField.type = "text";
				eyeIcon.src = "static/images_hide.png";
			} else {
				passwordField.type = "password";
				eyeIcon.src = "static/images_show.png";
			}
		}

	</script>


	<!-- js -->
	<script src="{% static 'Templates/vendors/scripts/core.js'%}"></script>
	<script src="{% static 'Templates/vendors/scripts/script.min.js'%}"></script>
	<script src="{% static 'Templates/vendors/scripts/process.js'%}"></script>
	<script src="{% static 'Templates/vendors/scripts/layout-settings.js'%}"></script>
</body>

</html>